<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<app-header></app-header>
<div
  class="flex min-h-full flex-col justify-items-start px-6 py-12 lg:px-8 dark:bg-slate-800"
>
  <!-- Top-left gradient -->
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Top-right gradient -->
  <div
    class="absolute inset-x-0 -top-40 right-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:right-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Bottom-left gradient -->
  <div
    class="absolute inset-x-0 bottom-0 left-0 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Bottom-right gradient -->
  <div
    class="absolute inset-x-0 bottom-0 right-0 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:right-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Your Journey to Financial Freedom Starts Here!
    </h2>
  </div>

  <div class="mt-10 w-full">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="registerForm"
      autocomplete="off"
      class="flex flex-wrap gap-4 justify-start p-4 shadow-2xl"
    >
      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="firstName"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >First Name</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="firstName"
            id="firstName"
            formControlName="firstName"
            placeholder="eg. Mark"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div
          *ngIf="
            registerForm?.get('firstName')?.invalid &&
            (registerForm?.get('firstName')?.dirty ||
              registerForm?.get('firstName')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('firstName')?.errors?.['required']"
            class="font-medium"
          >
            * First Name is required.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="middleName"
          class="block text-sm font-medium text-gray-900 dark:text-white"
          >Middle Name</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="middleName"
            id="middleName"
            formControlName="middleName"
            placeholder="eg. Alexander"
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="lastName"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Last Name</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="lastName"
            id="lastName"
            formControlName="lastName"
            placeholder="eg. Harrison"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div
          *ngIf="
            registerForm?.get('lastName')?.invalid &&
            (registerForm?.get('lastName')?.dirty ||
              registerForm?.get('lastName')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('lastName')?.errors?.['required']"
            class="font-medium"
          >
            * Last Name is required.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="gender"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Gender</label
        >
        <div class="mt-2">
          <select
            id="gender"
            name="gender"
            formControlName="gender"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="" selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div
          *ngIf="
            registerForm?.get('gender')?.invalid &&
            (registerForm?.get('gender')?.dirty ||
              registerForm?.get('gender')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('gender')?.errors?.['required']"
            class="font-medium"
          >
            * Gender is required.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[640px]">
        <label
          for="addressLine1"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Address Line 1</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="addressLine1"
            id="addressLine1"
            formControlName="addressLine1"
            placeholder="House Number/ Flat Number"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div
          *ngIf="
            registerForm?.get('addressLine1')?.invalid &&
            (registerForm?.get('addressLine1')?.dirty ||
              registerForm?.get('addressLine1')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('addressLine1')?.errors?.['required']"
            class="font-medium"
          >
            * This is a required field.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[640px]">
        <label
          for="addressLine2"
          class="block text-sm font-medium text-gray-900 dark:text-white"
          >Address Line 2</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="addressLine2"
            id="addressLine2"
            formControlName="addressLine2"
            placeholder="Locality/ Landmark"
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="city"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >City</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="city"
            id="city"
            formControlName="city"
            placeholder="eg. Noida"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div
          *ngIf="
            registerForm?.get('city')?.invalid &&
            (registerForm?.get('city')?.dirty ||
              registerForm?.get('city')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('city')?.errors?.['required']"
            class="font-medium"
          >
            * City is required.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="pinCode"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Pin Code</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="pinCode"
            id="pinCode"
            formControlName="pinCode"
            placeholder="eg. 245064"
            (keypress)="allowOnlyNumbers($event)"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div
          *ngIf="
            registerForm?.get('pinCode')?.invalid &&
            (registerForm?.get('pinCode')?.dirty ||
              registerForm?.get('pinCode')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('pinCode')?.errors?.['required']"
            class="font-medium"
          >
            * Pin Code is required.
          </div>
          <div
            *ngIf="(registerForm?.get('pinCode')?.errors?.['minlength'] || registerForm?.get('pinCode')?.errors?.['maxlength']) && !registerForm?.get('pinCode')?.errors?.['required']"
            class="font-medium"
          >
            * Pin Code must be 6 digits.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="country"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Country</label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            formControlName="country"
            (change)="onCountryChange()"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="">Select Country</option>
            <option *ngFor="let country of countries" [value]="country.isoCode">
              {{ country.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            registerForm?.get('country')?.invalid &&
            (registerForm?.get('country')?.dirty ||
              registerForm?.get('country')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('country')?.errors?.['required']"
            class="font-medium"
          >
            * Country is required.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="stateOfOrigin"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >State</label
        >
        <div class="mt-2">
          <select
            id="stateOfOrigin"
            name="stateOfOrigin"
            formControlName="stateOfOrigin"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option *ngIf="states.length === 0" value="">
              {{ defaultStateMessage }}
            </option>
            <option *ngIf="states.length !== 0" value="">Select State</option>
            <option *ngFor="let state of states" [value]="state.name">
              {{ state.name }}
            </option>
          </select>
        </div>

        <div
          *ngIf="
            registerForm?.get('stateOfOrigin')?.invalid &&
            (registerForm?.get('stateOfOrigin')?.dirty ||
              registerForm?.get('stateOfOrigin')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('stateOfOrigin')?.errors?.['required'] && registerForm?.get('country')?.valid"
            class="font-medium"
          >
            * State is required.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="email"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Email</label
        >
        <div class="mt-2">
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            placeholder="eg. markharrison@gmail.com"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div
          *ngIf="
            registerForm?.get('email')?.invalid &&
            (registerForm?.get('email')?.dirty ||
              registerForm?.get('email')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('email')?.errors?.['required']"
            class="font-medium"
          >
            * Email is required.
          </div>
          <div
            *ngIf="registerForm?.get('email')?.errors?.['email'] && !registerForm?.get('email')?.errors?.['required']"
            class="font-medium"
          >
            * Email is invalid.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="phoneNumber"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Phone Number</label
        >
        <div class="mt-2">
          <input
            type="tel"
            name="phoneNumber"
            id="phoneNumber"
            formControlName="phoneNumber"
            (keypress)="allowOnlyNumbers($event)"
            placeholder="Enter your primary phone number"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div
          *ngIf="
            registerForm?.get('phoneNumber')?.invalid &&
            (registerForm?.get('phoneNumber')?.dirty ||
              registerForm?.get('phoneNumber')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('phoneNumber')?.errors?.['required']"
            class="font-medium"
          >
            * Phone number is required.
          </div>
          <div
            *ngIf="(registerForm?.get('phoneNumber')?.errors?.['minlength'] || registerForm?.get('phoneNumber')?.errors?.['maxlength']) && !registerForm?.get('phoneNumber')?.errors?.['required']"
            class="font-medium"
          >
            * Phone number must be 10 digits.
          </div>
        </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="alternativePhoneNumber"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Alternative Phone Number</label
        >
        <div class="mt-2">
          <input
            type="tel"
            name="alternativePhoneNumber"
            id="alternativePhoneNumber"
            formControlName="alternativePhoneNumber"
            (keypress)="allowOnlyNumbers($event)"
            placeholder="Enter your backup phone number"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div
        *ngIf="
          registerForm?.get('alternativePhoneNumber')?.invalid &&
          (registerForm?.get('alternativePhoneNumber')?.dirty ||
            registerForm?.get('alternativePhoneNumber')?.touched)
        "
        class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
        role="alert"
      >
        <div
          *ngIf="registerForm?.get('alternativePhoneNumber')?.errors?.['required']"
          class="font-medium"
        >
          * Alternate phone number is required.
        </div>
        <div
          *ngIf="(registerForm?.get('alternativePhoneNumber')?.errors?.['minlength'] || registerForm?.get('alternativePhoneNumber')?.errors?.['maxlength']) && !registerForm?.get('alternativePhoneNumber')?.errors?.['required']"
          class="font-medium"
        >
          * Phone number must be 10 digits.
        </div>
      </div>
      </div>

      <div class="flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="role"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Role</label
        >
        <div class="mt-2">
          <select
            id="role"
            name="role"
            formControlName="role"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="" selected>Select Role</option>
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
          </select>
        </div>

        <div
          *ngIf="
            registerForm?.get('role')?.invalid &&
            (registerForm?.get('role')?.dirty ||
              registerForm?.get('role')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('role')?.errors?.['required']"
            class="font-medium"
          >
            * Role is required.
          </div>
        </div>
      </div>

      <div class="relative flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="password"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Password</label
        >
        <div class="mt-2">
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            id="password"
            formControlName="password"
            placeholder="Choose a strong password"
            (focus)="showAlert = true"
            (blur)="showAlert = false"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div
          *ngIf="
            registerForm?.get('password')?.invalid &&
            (registerForm?.get('password')?.dirty ||
              registerForm?.get('password')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('password')?.errors?.['required']"
            class="font-medium"
          >
            * Password is required.
          </div>

          <div
            *ngIf="registerForm?.get('password')?.hasError && !registerForm?.get('password')?.errors?.['required']"
            class="font-medium"
          >
            * Password is invalid.
          </div>
        </div>

        <div
          *ngIf="showAlert"
          class="absolute left-0 -top-[250%] mt-1 w-full p-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-700 dark:text-blue-400 shadow-md flex items-start"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.hasError('minlength')}" >At least 8 characters.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.hasError('maxlength')}">At max 16 characters.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.hasError('noLowerCase')}">At least one lowercase character.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.hasError('noUpperCase')}">At least one uppercase character.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.hasError('noDigit')}">At least one number.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('confirmPassword')?.hasError('noSpecialChar')}">At least one special character.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="relative flex-1 min-w-full sm:min-w-[320px]">
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
          >Confirm Password</label
        >
        <div class="mt-2">
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="confirmPassword"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm your password"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            (focus)="showAlertConfirm = true"
            (blur)="showAlertConfirm = false"
          />
        </div>

        <div
          *ngIf="
            registerForm?.get('confirmPassword')?.invalid &&
            (registerForm?.get('confirmPassword')?.dirty ||
              registerForm?.get('confirmPassword')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="registerForm?.get('confirmPassword')?.errors?.['required']"
            class="font-medium"
          >
            * Password is required.
          </div>

          <div
            *ngIf="registerForm?.errors?.['passwordMismatch']"
            class="font-medium"
          >
            * Password doesn't match.
          </div>
        </div>

        <div
          *ngIf="showAlertConfirm"
          class="absolute left-0 -top-[250%] mt-1 w-full p-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-700 dark:text-blue-400 shadow-md flex items-start"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) && registerForm.get('confirmPassword')?.hasError('minlength')}" >At least 8 characters.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) && registerForm.get('confirmPassword')?.hasError('maxlength')}">At max 16 characters.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) && registerForm.get('confirmPassword')?.hasError('noLowerCase')}">At least one lowercase character.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) && registerForm.get('confirmPassword')?.hasError('noUpperCase')}">At least one uppercase character.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) && registerForm.get('confirmPassword')?.hasError('noDigit')}">At least one number.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) && registerForm.get('confirmPassword')?.hasError('noSpecialChar')}">At least one special character.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex-none min-w-full sm:min-w-[32px]">
        <div class="flex mt-4 items-center ps-1 rounded">
          <input
            id="passwordCheckbox"
            type="checkbox"
            value=""
            name="passwordCheckbox"
            (change)="togglePassword()"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700"
          />
          <label
            for="passwordCheckbox"
            class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >{{ showPassword ? "Hide Password" : "Show Password" }}</label
          >
        </div>
      </div>

      <div class="flex-1 min-w-full text-center">
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          [ngClass]="{
            'cursor-not-allowed opacity-50': registerForm.invalid,
            'hover:bg-indigo-500 dark:hover:bg-indigo-400': !registerForm.invalid
          }"
          class="rounded-md bg-indigo-600 dark:bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 dark:hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
