<div class="flex items-center gap-2">


    <!-- Slider -->
    <label class="relative inline-block w-14 h-8">
      <input
        type="checkbox"
        class="hidden"
        (change)="toggleDarkMode()"
        [checked]="isDarkMode"
      />
      <span
        class="slider cursor-pointer block w-full h-full bg-gray-300 dark:bg-gray-700 rounded-full before:absolute before:top-1 before:left-1 before:w-6 before:h-6 before:bg-white before:rounded-full before:transition-transform before:duration-300 dark:before:translate-x-6"
      ></span>
    </label>
  </div>