

  <div class="flex items-center space-x-4">
    <label for="toggle" class="relative inline-block w-12 h-6 cursor-pointer">
      <input type="checkbox" id="toggle" class="peer sr-only" (change)="toggleDarkMode()" [checked]="isDarkMode">
      <div class="w-full h-full bg-gray-300 rounded-full peer-checked:bg-blue-500 transition-colors"></div>
      <div
        class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full shadow-md peer-checked:translate-x-6 transition-transform">
      </div>
    </label>
  </div>