
<app-header></app-header>


<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 dark:bg-slate-800">
  <!-- Top-left gradient -->
<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
  <div
    class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
  ></div>
</div>

<!-- Top-right gradient -->
<div class="absolute inset-x-0 -top-40 right-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
  <div
    class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:right-[calc(50%-30rem)] sm:w-[72.1875rem]"
    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
  ></div>
</div>

<!-- Bottom-left gradient -->
<div class="absolute inset-x-0 bottom-0 left-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
  <div
    class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
  ></div>
</div>

<!-- Bottom-right gradient -->
<div class="absolute inset-x-0 bottom-0 right-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
  <div
    class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:right-[calc(50%-30rem)] sm:w-[72.1875rem]"
    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
  ></div>
</div>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">Sign in to your account</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" autocomplete="off" class="space-y-6" method="POST">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500">Email address</label>
          <div class="mt-2">
            <input type="email" name="email" id="email" formControlName="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <div
          *ngIf="
            loginForm?.get('email')?.invalid &&
            (loginForm?.get('email')?.dirty ||
              loginForm?.get('email')?.touched)
          "
          class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
          role="alert"
        >
          <div
            *ngIf="loginForm?.get('email')?.errors?.['required']"
            class="font-medium"
          >
            * Email is required.
          </div>
          <div
            *ngIf="loginForm?.get('email')?.errors?.['email']"
            class="font-medium"
          >
            * Please enter a valid email
          </div>
        </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500">Password</label>
            <div class="text-sm">
              <a routerLink="/password-update" class="font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-300 dark:hover:text-indigo-200">Update password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input [type]="showPassword ? 'text' : 'password'" name="password" id="password" formControlName="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <div
            *ngIf="
              loginForm?.get('password')?.invalid &&
              (loginForm?.get('password')?.dirty ||
                loginForm?.get('password')?.touched)
            "
            class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
            role="alert"
          >
            <div
              *ngIf="loginForm?.get('password')?.errors?.['required']"
              class="font-medium"
            >
              * Password is required.
            </div>
            <div
              *ngIf="!loginForm?.get('password')?.errors?.['required'] && loginForm?.get('password')?.errors"
              class="font-medium"
            >
              * Please enter a valid password.
            </div>
          </div>
        </div>

        <div>
          <div class="flex mt-4 items-center ps-1 rounded">
            <input
              id="passwordCheckbox"
              type="checkbox"
              value=""
              name="passwordCheckbox"
              (change)="togglePassword()"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700"
            />
            <label
              for="passwordCheckbox"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ showPassword ? "Hide Password" : "Show Password" }}</label
            >
          </div>
        </div>
  
        <div>
          <button type="submit"
          [disabled]="loginForm.invalid"
          [ngClass]="{
            'cursor-not-allowed opacity-50': loginForm.invalid,
            'hover:bg-indigo-500 dark:hover:bg-indigo-400': !loginForm.invalid
          }"
           class="flex w-full justify-center rounded-md bg-indigo-600 dark:bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 dark:hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>
      </form>
  
      
    </div>
  </div>
  