<div class="mt-4 h-auto mb-4 rounded bg-gray-50 dark:bg-transparent">
  <div
    *ngIf="showApplyModal"
    tabindex="-1"
    aria-hidden="true"
    class="backdrop-blur-md overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
  >
    <div
      class="relative translate-y-12 translate-x-[150%] p-4 w-96 max-w-4xl h-full md:h-auto"
    >
      <!-- Modal content -->
      <div
        class="relative p-4 bg-gray-100 rounded-lg shadow dark:bg-gray-600 sm:p-5"
      >
        <!-- Modal header -->
        <div
          class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
        >
          <h3
            class="text-lg uppercase ml-auto font-semibold text-gray-900 dark:text-white"
          >
            Apply
          </h3>
          <button
            (click)="toggleApplyModal(appliedCard)"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="updateProductModal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form
          (ngSubmit)="applyCard();toggleApplyModal(appliedCard)"
          [formGroup]="applyCardForm"
          autocomplete="off"
        >
          <div class="grid gap-3 mb-6 justify-center">
            <div>
              <label
                for="cardType"
                class="block text-sm/6 font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
                >Card Type</label
              >
              <div class="mt-2">
                <select
                  id="cardType"
                  name="cardType"
                  formControlName="cardType"
                  required
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option value="" selected>Select Type</option>
                  <option value="Debit">Debit</option>
                  <option value="Credit">Credit</option>
                </select>
              </div>
              <div
                *ngIf="
                  applyCardForm?.get('cardType')?.invalid &&
                  (applyCardForm?.get('cardType')?.dirty ||
                    applyCardForm?.get('cardType')?.touched)
                "
                class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
                role="alert"
              >
                <div
                  *ngIf="applyCardForm?.get('cardType')?.errors?.['required']"
                  class="font-medium text-nowrap"
                >
                  * Card type is required.
                </div>
              </div>
            </div>

            <div>
              <label
                for="cardSubType"
                class="block text-sm/6 font-medium text-gray-900 dark:text-white after:content-['\00a0*'] after:text-red-800 dark:after:text-red-500"
                >Card Type</label
              >
              <div class="mt-2">
                <select
                  id="cardSubType"
                  name="cardSubType"
                  formControlName="cardSubType"
                  required
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option value="" selected>Select Sub Type</option>
                  <option value="Visa">Visa</option>
                  <option value="MasterCard">MasterCard</option>
                  <option value="RuPay">RuPay</option>
                </select>
              </div>
              <div
                *ngIf="
                  applyCardForm?.get('cardSubType')?.invalid &&
                  (applyCardForm?.get('cardSubType')?.dirty ||
                    applyCardForm?.get('cardSubType')?.touched)
                "
                class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400"
                role="alert"
              >
                <div
                  *ngIf="applyCardForm?.get('cardSubType')?.errors?.['required']"
                  class="font-medium text-nowrap"
                >
                  * Card sub type is required.
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center space-x-4">
            <button
              type="submit"
              [disabled]="applyCardForm.invalid"
              [ngClass]="{
                'cursor-not-allowed opacity-50': applyCardForm.invalid,
              }"
              class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Submit
            </button>
            <button
              type="button"
              (click)="toggleApplyModal(appliedCard)"
              class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    *ngIf="showPinModal"
    tabindex="-1"
    aria-hidden="true"
    class="backdrop-blur-md overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
  >
    <div
      class="relative translate-y-12 translate-x-[150%] p-4 w-96 max-w-4xl h-full md:h-auto"
    >
      <!-- Modal content -->
      <div
        class="relative p-4 bg-gray-100 rounded-lg shadow dark:bg-gray-600 sm:p-5"
      >
        <!-- Modal header -->
        <div
          class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
        >
          <h3
            class="text-lg uppercase ml-auto font-semibold text-gray-900 dark:text-white"
          >
            Generate Pin
          </h3>
          <button
            (click)="togglePinModal(selectedCard)"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="updateProductModal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form
          (ngSubmit)="generatePin(selectedCard); togglePinModal(selectedCard)"
          [formGroup]="generatePinForm"
          autocomplete="off"
        >
          <div
            formGroupName="pin"
            class="flex justify-center mb-2 space-x-2 rtl:space-x-reverse"
          >
            <div>
              <label for="code-1" class="sr-only">First code</label>
              <input
                type="text"
                id="code-1"
                maxlength="1"
                formControlName="digit1"
                (input)="onInputChange($event, 'code-2')"
                (keydown)="onKeyDown($event, null)"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required
              />
            </div>
            <div>
              <label for="code-2" class="sr-only">Second code</label>
              <input
                type="text"
                id="code-2"
                maxlength="1"
                formControlName="digit2"
                (input)="onInputChange($event, 'code-3')"
                (keydown)="onKeyDown($event, 'code-1')"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required
              />
            </div>
            <div>
              <label for="code-3" class="sr-only">Third code</label>
              <input
                type="text"
                id="code-3"
                maxlength="1"
                formControlName="digit3"
                (input)="onInputChange($event, 'code-4')"
                (keydown)="onKeyDown($event, 'code-2')"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required
              />
            </div>
            <div>
              <label for="code-4" class="sr-only">Fourth code</label>
              <input
                type="text"
                id="code-4"
                maxlength="1"
                formControlName="digit4"
                (input)="onInputChange($event, null)"
                (keydown)="onKeyDown($event, 'code-3')"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required
              />
            </div>
          </div>
          <div class="flex items-center justify-center space-x-4">
            <button
              type="submit"
              [disabled]="generatePinForm.invalid"
              [ngClass]="{
                'cursor-not-allowed opacity-50': generatePinForm.invalid,
              }"
              class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Submit
            </button>
            <button
              type="button"
              (click)="togglePinModal(selectedCard)"
              class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    *ngIf="hasCards"
    class="w-full bg-white dark:bg-gray-900 relative shadow-md sm:rounded-lg overflow-hidden"
  >
    <div
      class="max-h-96 overflow-hidden scrollbar-thin dark:scrollbar-thumb-gray-500 dark:scrollbar-track-gray-900 sm:rounded-lg"
    >
      <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead
          class="top-0 text-xs z-[500] text-gray-700 uppercase bg-gray-50 dark:bg-gray-600 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-4 py-3">Card ID</th>
            <th scope="col" class="px-4 py-3">Card Type</th>
            <th scope="col" class="px-4 py-3 z-[0]">Card Sub Type</th>
            <th scope="col" class="px-4 py-3 z-[0]">Card Number</th>
            <!-- <th scope="col" class="px-4 py-3 z-[0]">Card Issued Date</th> -->
            <th scope="col" class="px-4 py-3 z-[0]">Card Expiry Date</th>
            <th scope="col" class="px-4 py-3 z-[0]">Pin Status</th>
            <th scope="col" class="px-4 py-3 z-[0]">Card Status</th>
            <th scope="col" class="px-4 py-3 z-[0]">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let card of userCards; let i = index"
            class="border-b border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <td class="px-4 py-3">{{ card.id }}</td>
            <td class="px-4 py-3">{{ card.cardType }}</td>
            <td class="px-4 py-3">{{ card.cardSubType }}</td>
            <td class="px-4 py-3">{{ card.cardNumber }}</td>
            <!-- <td class="px-4 py-3">{{ getDate(card.issuedDate ?? "") }}</td> -->
            <td class="px-4 py-3">{{ getDate(card.expiryDate ?? "") }}</td>
            <td class="px-4 py-3">{{ card.pinStatus }}</td>
            <td class="px-4 py-3">{{ card.cardStatus }}</td>
            <td class="px-4 py-3">
              <button
                (click)="toggleActionDropdown(i)"
                id="apple-iphone-14-dropdown-button"
                data-dropdown-toggle="apple-iphone-14-dropdown"
                class="relative inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                type="button"
              >
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="currentColor"
                  viewbox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
                  />
                </svg>
              </button>
              <div
                *ngIf="showActionDropdown[i]"
                id="apple-iphone-14-dropdown"
                class="absolute right-1 z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
              >
                <ul
                  class="py-1 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="apple-iphone-14-dropdown-button"
                >
                  <li *ngIf="card.pinStatus !== 'GENERATED'">
                    <button
                      (click)="togglePinModal(card); toggleActionDropdown(i)"
                      class="block w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      Generate Pin
                    </button>
                  </li>
                  <li *ngIf="card.cardStatus !== 'BLOCKED'">
                    <button
                      (click)="blockCard(card); toggleActionDropdown(i)"
                      class="block w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      Block
                    </button>
                  </li>
                  <li *ngIf="card.cardStatus === 'BLOCKED'">
                    <button
                      (click)="unblockCard(card); toggleActionDropdown(i)"
                      class="block w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      Un-Block
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr *ngIf="userCards.length === 0" colspan="9" class="px-4 py-3">
            No Cards to display.
          </tr>
        </tbody>
      </table>
    </div>
    <nav
      class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
      aria-label="Table navigation"
    >
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ rangeStart }}-{{ rangeEnd }}</span
        >
        of
        <span class="font-semibold text-gray-900 dark:text-white">{{
          totalItems
        }}</span>
      </span>
      <ul class="inline-flex items-stretch -space-x-px">
        <!-- Previous Button -->
        <li>
          <span
            (click)="prevPage()"
            class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">Previous</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </li>

        <!-- Page Buttons -->
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
          <span
            (click)="setPage(i + 1)"
            [class]="
              currentPage === i + 1
                ? 'flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-white bg-blue-700 border border-blue-700 hover:bg-blue-600 dark:border-gray-700 dark:bg-gray-700 dark:text-white'
                : 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
            "
          >
            {{ i + 1 }}
          </span>
        </li>

        <!-- Next Button -->
        <li>
          <span
            (click)="nextPage()"
            class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">Next</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </li>
      </ul>
    </nav>
  </div>
  <div
    class="flex flex-row items-center gap-4 h-64 pr-4 mt-6 rounded bg-slate-100 dark:bg-gray-700"
    [ngClass]="{
      'justify-center': !hasCards,
      'justify-end': userCards.length > 0
    }"
  >
    <div
      class="flex flex-1 flex-col justify-start h-64 p-4"
      [ngClass]="{ 'flex-none': !hasCards }"
    >
      <h2 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-100">
        Your Cards
      </h2>

      <h3 class="text-base font-medium mb-2 text-gray-800 dark:text-gray-100">
        Card Benefits
      </h3>
      <ul class="list-disc list-inside text-gray-800 dark:text-gray-100">
        <li>Zero annual fees for the first year</li>
        <li>1.5% cashback on all purchases</li>
        <li>Exclusive access to airport lounges</li>
        <li>24/7 customer support</li>
        <li>Free fraud protection up to {{ 1000 | currency : "INR" }}</li>
        <li>Special discounts on partner stores</li>
      </ul>
    </div>

    <div
      class="relative w-96 h-56 perspective"
      *ngFor="let card of userCards; let i = index"
      (click)="flipCard(i)"
    >
      <div
        class="absolute w-full h-full transform transition-transform duration-700"
        [ngClass]="{ 'rotate-y-180': flippedCards[i] }"
        style="transform-style: preserve-3d"
      >
        <div
          class="w-full h-full bg-gradient-to-r bg-opacity-50 backdrop-blur-lg text-white rounded-xl shadow-lg p-6"
          [ngClass]="{
            'from-green-400 to-teal-500': card.cardType === 'Debit',
            'from-blue-500 to-purple-600': card.cardType === 'Credit'
          }"
          style="backface-visibility: hidden"
        >
          <div class="flex justify-between items-center">
            <div class="text-lg font-bold">{{ card.cardType }} Card</div>
            <div class="absolute uppercase top-[6.5rem] left-[21rem] -rotate-90 text-base font-bold italic opacity-75"
            [ngClass]="{'text-xs top-[6.6rem] left-[19.8rem]':card.cardSubType==='MasterCard',
              'left-[20.6rem]':card.cardSubType==='RuPay'
            }"
            >
              {{card.cardSubType}}
            </div>
            <img
              src="https://img.icons8.com/ios-filled/50/ffffff/sim-card-chip.png"
              alt="Chip"
              class="w-10 h-10"
            />
          </div>
          <div class="mt-8">
            <div class="text-sm font-semibold tracking-widest">Card Number</div>
            <div class="text-xl font-mono tracking-widest mt-1">
              {{ formatCardNumber(card.cardNumber ?? "") }}
            </div>
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <div class="text-sm font-semibold">Card holder</div>
              <div class="text-base font-medium">{{ card.name }}</div>
            </div>
            <div>
              <div class="text-sm font-semibold">Expiry</div>
              <div class="text-base font-medium">
                {{ getDate(card.expiryDate ?? "") }}
              </div>
            </div>
          </div>
          <div class="absolute top-16 left-6 text-xs italic opacity-75">
            Powered by Banking System
          </div>
        </div>

        <div
          class="absolute top-0 left-0 w-full h-full"
          [ngClass]="{ 'rotate-y-180': flippedCards[i] }"
          style="backface-visibility: hidden; transform: rotateY(180deg)"
        >
          <div
            class="w-full h-full bg-gradient-to-r text-white rounded-xl shadow-lg p-6"
            [ngClass]="{
              'from-green-400 to-teal-500': card.cardType === 'Debit',
              'from-blue-500 to-purple-600': card.cardType === 'Credit'
            }"
          >
            <div class="bg-black h-8 w-full rounded-md mb-4"></div>
            <div class="flex justify-between items-center">
              <div>
                <div class="text-sm">CVV</div>
                <div class="text-white mt-2 rounded-md text-lg">
                  {{ card.cvv }}
                </div>
              </div>
              <div class="text-sm italic">Authorized Signature</div>
            </div>
            <div class="absolute bottom-2 right-4 text-xs opacity-75 italic">
              Call 123-456-789 for assistance
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!hasCards || userCards.length == 1"
      class="flex flex-col items-center justify-center h-64 bg-slate-100 dark:bg-gray-700 rounded-lg"
      [ngClass]="{ 'flex-1': !hasCards }"
    >
      <div class="mb-4">
        <svg
          class="w-16 h-16 text-gray-800 dark:text-gray-400"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.75l7 6V19a2 2 0 01-2 2H7a2 2 0 01-2-2v-8.25l7-6z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16 21v-6a2 2 0 00-4 0v6"
          ></path>
        </svg>
      </div>
      <!-- Message -->
      <p class="text-lg text-gray-800 dark:text-gray-300 mb-2">
        {{
          hasCards
            ? userCards.length == 1 && userCards[0].cardType == "Debit"
              ? "No credit card issued yet"
              : "No debit card issued yet"
            : "No cards issued yet"
        }}
      </p>
      <p class="text-sm text-gray-800 dark:text-gray-400 mb-4">
        Start by applying for your
        {{
          hasCards
            ? userCards.length == 1 && userCards[0].cardType == "Debit"
              ? "credit"
              : "debit"
            : ""
        }}
        card and unlock exclusive benefits.
      </p>
      <!-- Action Button -->
      <button
        type="button"
        (click)="handleApplyModal()"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Apply for
        {{ getCardType() }}
        Card
      </button>
    </div>
  </div>
  <div class="h-auto mt-6 mb-4 rounded bg-slate-50 dark:bg-gray-900">
    <div id="detailed-pricing" class="w-full overflow-x-auto">
      <div class="overflow-hidden min-w-max">
        <div
          class="grid grid-cols-3 p-4 text-sm font-medium text-white bg-slate-700 border-t border-b border-gray-200 gap-x-16 dark:bg-gray-700 dark:border-gray-700 dark:text-white"
        >
          <div class="flex items-center">Benefit</div>
          <div>Debit Card</div>
          <div>Credit Card</div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">Credit Limit</div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Spending Flexibility
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Earn Rewards (e.g., points, cashback)
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Purchase Protection
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">Build Credit Score</div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            No Need to Deposit Funds in Advance
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Interest-Free Period
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">Overdraft Fees</div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Security (Fraud Protection)
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Easy to Access Funds
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">
            Online purchase convinience
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
          <div>
            <svg
              class="w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div
          class="grid grid-cols-3 px-4 py-5 text-sm text-gray-700 border-b border-gray-200 gap-x-16 dark:border-gray-700"
        >
          <div class="text-gray-800 dark:text-gray-400">Annual Fees</div>
          <div>
            <svg
              class="inline-block w-3 h-3 text-red-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <p class="ml-2 inline-block text-gray-800 dark:text-gray-400">
              (usually no fee)
            </p>
          </div>
          <div>
            <svg
              class="inline-block w-3 h-3 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
            <p class="ml-2 inline-block text-gray-800 dark:text-gray-400">
              (can be high)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
