<app-header></app-header>
<div
  class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 dark:bg-slate-800"
>
  <!-- Top-left gradient -->
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Top-right gradient -->
  <div
    class="absolute inset-x-0 -top-40 right-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:right-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Bottom-left gradient -->
  <div
    class="absolute inset-x-0 bottom-0 left-0 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>

  <!-- Bottom-right gradient -->
  <div
    class="absolute inset-x-0 bottom-0 right-0 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:right-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Update your password
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form (ngSubmit)="onSubmit()" [formGroup]="updateForm" class="space-y-6" autocomplete="off">
      <div>
        <label
          for="accountNumber"
          class="block text-sm/6 font-medium text-gray-900 dark:text-white"
          >Account Number</label
        >
        <div class="mt-2">
          <input
            type="text"
            formControlName="accountNumber"
            name="accountNumber"
            id="accountNumber"
            placeholder="Enter your 12 character account number"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <div *ngIf="updateForm?.get('accountNumber')?.invalid && (updateForm?.get('accountNumber')?.dirty || updateForm?.get('accountNumber')?.touched)" class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400" role="alert">
            <div *ngIf="updateForm?.get('accountNumber')?.errors?.['required']" class="font-medium">
              * Account number is required.
            </div>
            <div *ngIf="updateForm?.get('accountNumber')?.hasError" class="font-medium">
                <span class="block" *ngIf="updateForm?.get('accountNumber')?.hasError('minlength') || updateForm?.get('accountNumber')?.hasError('maxlength')">
                  * Account Number should be exactly 12 characters long.
                </span>
                <span class="block" *ngIf="updateForm?.get('accountNumber')?.hasError('noLetterStarting')">
                  * Account Number should start with 2 alphabets.
                </span>
                <span class="block" *ngIf="updateForm?.get('accountNumber')?.hasError('noTenDigit')">
                  * Account Number must have exactly 10 digits.
                </span>
              </div>
          </div>
        </div>
      </div>

      <div>
        <label
          for="oldPassword"
          class="block text-sm/6 font-medium text-gray-900 dark:text-white"
          >Old Password</label
        >
        <div class="mt-2">
          <input
            type="password"
            formControlName="oldPassword"
            name="oldPassword"
            id="oldPassword"
            placeholder="Enter your current password"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
          <div *ngIf="updateForm?.get('oldPassword')?.invalid && (updateForm?.get('oldPassword')?.dirty || updateForm?.get('oldPassword')?.touched)" class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400" role="alert">
            <div *ngIf="updateForm?.get('oldPassword')?.errors?.['required']" class="font-medium">
              * Password is required.
            </div>
            <div *ngIf="updateForm?.get('oldPassword')?.hasError" class="font-medium">
                * Please enter a valid password.
              </div>
          </div>
        </div>
      </div>

      <div class="relative">
        <div class="flex items-center justify-between">
          <label
            for="newPassword"
            class="block text-sm/6 font-medium text-gray-900 dark:text-white"
            >New Password</label
          >
        </div>
        <div class="mt-2">
          <input
            type="password"
            formControlName="newPassword"
            name="newPassword"
            id="newPassword"
            autocomplete="off"
            (focus)="showAlert = true"
            (blur)="showAlert = false"
            placeholder="Choose a strong password"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
          <div *ngIf="updateForm?.get('newPassword')?.invalid && (updateForm?.get('newPassword')?.dirty || updateForm?.get('newPassword')?.touched)" class="p-1.5 text-sm text-red-800 rounded-lg bg-transparent dark:text-red-400" role="alert">
            <div *ngIf="updateForm?.get('newPassword')?.errors?.['required']" class="font-medium">
              * Password is required.
            </div>
            <div *ngIf="updateForm?.get('newPassword')?.hasError" class="font-medium">
                * Please enter a valid password.
              </div>
          </div>
        </div>
        <div
          *ngIf="showAlert"
          class="absolute left-0 -top-[270%] mt-1 w-full p-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-700 dark:text-blue-400 shadow-md flex items-start"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              <li [ngClass]="{'text-red-800 dark:text-red-400': updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched) && updateForm.get('newPassword')?.hasError('minlength')}" >At least 8 characters.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched) && updateForm.get('newPassword')?.hasError('maxlength')}">At max 16 characters.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched) && updateForm.get('newPassword')?.hasError('noLowerCase')}">At least one lowercase character.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched) && updateForm.get('newPassword')?.hasError('noUpperCase')}">At least one uppercase character.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched) && updateForm.get('newPassword')?.hasError('noDigit')}">At least one number.</li>
              <li [ngClass]="{'text-red-800 dark:text-red-400': updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched) && updateForm.get('newPassword')?.hasError('noSpecialChar')}">At least one special character.</li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="updateForm.invalid"
          [ngClass]="{
            'cursor-not-allowed opacity-50': updateForm.invalid,
            'hover:bg-indigo-500 dark:hover:bg-indigo-400': !updateForm.invalid
          }"
          class="flex w-full justify-center rounded-md bg-indigo-600 dark:bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 dark:hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
